footer {
	background-color: #333;
	color: #eee;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.content {
	margin: 50px 50px;	
	color: #eee;
}

#addEmployeeDiv {
	background-color: #333;
	padding: 0% 15%;
	
}

.navbar-wrapper {
	margin-bottom: -22px;
}