html {
	background-color: #333;
}

footer {
	background-color: #333;
	color: #eee;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.content {
	margin: 50px 50px;	
	color: #eee;
}

#addEmployeeDiv {
	background-color: #333;
	padding: 0% 25%;
}

#myModalEmp {
	color: black;
}

#myModalInv {
	color: black;
}

.navbar-wrapper {
	margin-bottom: -22px;
}

.feature {
	background-color: #333;
	margin-bottom: 0px;
	padding-bottom: 10px;
	margin-top: -30px;
	color: #eee;
	text-align: center;
}

.centered {
	text-align: center;
}

.table-wrapper {
	color: white;
}

.error {
	color: red;
}